<html>

<head>
  <title>Sign Up</title>
  <meta lang="el" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/public/css/approve.css">
  <link rel=" icon" type="image/png" href="/public/images/favicon.png">
  <link rel="script" type="text/javascript" href="/public/scripts/approve.js" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

  <!-- Bootstrap Font Icon CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<body>
  <div>
    <p class="h1">myCharts</p>
    <div class="central-container">
      <div>
        <p class="h4">This is the first time you use with <%= email %>
        <p>
        <p class="h6">
          By continuing you acknowledge our term and conditions, and you accept our VesCookies policy :)
        </p>
      </div>
      <div class="button-container">
        <a href="/login/confirm/approve">
          <button class="btn btn-primary">
            Continue
          </button>
        </a>
        <a href="/confirm/disapprove">
          <button class="btn btn-primary">
            Cancel
          </button>
        </a>
        
      </div>



    </div>
  </div>
</body>

</html>